<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IOTA | Resume Ranker</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/repo_form.css') }}">

</head>

<body class="text-center">

    <div class="loader-container">
        <div class="overlay" style="display:none;">
            <div class="loader" id='loading' style="display:none;"></div>
        </div>
        

        <form class="needs-validation" novalidate action="/get-resume-repository" method="POST" enctype="multipart/form-data">
            <h1 class="h5 mb-3 font-weight-normal">Resumes Repository Folder</h1>
            <input type="file" name='form-resumes-list' class="form-control form-input" webkitdirectory directory multiple/>
            <button class="btn btn-md btn-primary mt-3" id='submit' type="submit">Search Resumes</button>
            <p class="mt-5 mb-3 text-muted">Iota Analytics - Resume Ranker</p>
        </form>
    </div>



    <!-- Bootstrap 4 Javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- For loader -->
    <script>
        // $('#loader').addClass("hide-loader");

        $('body').on('click', '#submit', function (event) {
            $('.overlay').css('display', 'block');
            $('#loading').css('display', 'block');
        });
        // For removing loader on back button click
        jQuery(document).ready(function ($) {

            window.onpageshow = function (event) {
                if (event.persisted) {
                    window.location.reload(); //reload page if it has been loaded from cache
                }
            };

        })
    </script>

</body>



</html>